.table {
  display: flex;
  flex-direction: column;
}

.table-header {
  background-color: teal !important;
  color: white !important;
  border-radius: 8px 8px 0 0;
  font-weight: 600;
  font-size: small;
}

.table-row {
  display: flex;
  color: black;
  width: 100%;
  background-color: #cbf3f0;
  margin: 0 auto;
}

.table-row div {
  width: 25%;
  padding: 1rem 1rem;
  text-align: center;
}

.edit-btn {
  padding: 0 !important;
  cursor: pointer;
  border: none !important;
  padding-left: 10px !important;
}

.null-field {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .table {
    font-size: 11px;
    padding: 0.25rem 0.25rem;
  }
}
